<!--parallel="tests" thread-count="2"-->
<suite name="SupplierSuite">
<test name="SupplierTestone" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Cancel_MyAdmin.Cancel_Credit" />
</classes> 
</test>
<test name="SupplierTesttwo" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Cancel_MyAdmin.Cancel_Credit_Card" />
</classes> 
</test>
<test name="SupplierTestthree" >
<parameter name="browsername" value="CH"/>
<classes> 
<class name="Cancel_MyAdmin.Cancel_Credit_NFR" />
</classes> 
</test>
</suite>